@model ClassicCars.Data.Entities.Blog
<!--Section Blog-->
<div class="wrapper">
    <section class="section target center blog-card"
             style="height: auto !important">
        <h2 class="section-heading">@Model.Title</h2>
        <img class="section-blog-img" src=@Model.Tumbnail alt="car" />
        <p class="section-blog">
            @Model.Description
        </p>
    </section>
</div>
<!--End of Section Blog-1-->