

<!-- Section 1 -->
<div class="wrapper" id="home">
    <section class="section-1 target center" >
        <h1 class="section-heading section-1-heading">{{headCars.title}} </h1>
        <img v-bind:src="headCars.tumbnail"  class="section-1-img" />
    </section>
</div>
<!-- End of Section 1 -->


<script src="~/vue/headcars.js"></script>